
body {
    background-color: #222;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hover-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    transition: color 0.3s ease;
}




.hvr-underline-from-left::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    background: #2098D1; 
    height: 4px;
    width: 0;
    transition: width 0.3s ease-out;
}
.hvr-underline-from-left:hover::before {
    width: 100%;
}

.hvr-underline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    transition: left 0.3s ease-out, right 0.3s ease-out;
}
.hvr-underline-from-center:hover::before {
    left: 0;
    right: 0;
}

.hvr-underline-from-right::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    width: 0;
    transition: width 0.3s ease-out;
}
.hvr-underline-from-right:hover::before {
    width: 100%;
}


.hvr-overline-from-left::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: #2098D1;
    height: 4px;
    width: 0;
    transition: width 0.3s ease-out;
}
.hvr-overline-from-left:hover::before {
    width: 100%;
}
.hvr-overline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    top: 0;
    background: #2098D1;
    height: 4px;
    transition: left 0.3s ease-out, right 0.3s ease-out;
}
.hvr-overline-from-center:hover::before {
    left: 0;
    right: 0;
}


.hvr-overline-from-right::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    background: #2098D1;
    height: 4px;
    width: 0;
    transition: width 0.3s ease-out;
}
.hvr-overline-from-right:hover::before {
    width: 100%;
}